<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title><%- title %></title>
  </head>
  <body>

    
      <nav class="navbar navbar-expand-lg navbar-dark bg-success mb-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Express App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/sort1">Sort1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sort2">Sort2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sort3">Sort3</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sort4">Sort4</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sort5">Sort5</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    
    <div class="container">
      <h2 class="pb-3"><%- desc %></h2>
      <nav class="navbar navbar-light bg-light">
      <div class="container-fluid justify-content-end">
        <form class="d-flex" method="post" action="/search">
          <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search" required autocomplete="off">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="table-dark" scope="col ">No</th>
            <th class="table-dark" scope="col">Name</th>
            <th class="table-dark" scope="col">Age</th>
            <th class="table-dark" scope="col">Gender</th>
            <th class="table-dark" scope="col">Favorite Fruit</th>
            <th class="table-dark" scope="col">Company</th>
            <th class="table-dark" scope="col">Regitered</th>
            <th class="table-dark" scope="col">Status</th>
            <th class="table-dark" scope="col">Eye Color</th>
          </tr>
        </thead>
        <tbody>
        <% let i = 1 %>
          <% if (typeof searchkey == 'object') { %>
            <% searchkey.forEach(function(terima){ %>
              <tr>
                <th class="table-success" scope="row"><%= i %></th>
                <td class="table-success"><%= terima.name %></td>
                <td class="table-success"><%= terima.age %></td>
                <td class="table-success"><%= terima.gender %></td>
                <td class="table-success"><%= terima.favoriteFruit %></td>
                <td class="table-success"><%= terima.company %></td>
                <td class="table-success"><%= terima.registered %></td>
                <td class="table-success"><%= terima.isActive %></td>
                <td class="table-success"><%= terima.eyeColor %></td>
              </tr>
            <% i++ }) %>
          <% } %>

          <% let j = 1 %>
          <% if (typeof dataSort == 'object') { %>
          <% dataSort.forEach(data => { %> 
            <tr>
            <th class="table-success" scope="row"><%= j %></th>
            <td class="table-success"><%= data.name %></td>
            <td class="table-success"><%= data.age %></td>
            <td class="table-success"><%= data.gender %></td>
            <td class="table-success"><%= data.favoriteFruit %></td>
            <td class="table-success"><%= data.company %></td>
            <td class="table-success"><%= data.registered %></td>
            <td class="table-success"><%= data.isActive %></td>
            <td class="table-success"><%= data.eyeColor %></td>
          </tr>
          <% j++ }) %>
          <% } %>
        </tbody>
      </table>
    </div>



    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>